<header class="site-header">
    <nav class="nav-container">
        <a asp-controller="Home" asp-action="Index" class="site-logo">
            <h1>TechCorp Content Hub</h1>
        </a>
        <ul class="nav-links">
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Blog" asp-action="Index">Blog</a>
            </li>
            <li>
                <a asp-controller="Authors" asp-action="Index">Authors</a>
            </li>
            <li>
                <a asp-controller="Categories" asp-action="Index">Categories</a>
            </li>
        </ul>
    </nav>
</header>
