@{
    ViewData["Title"] = "Error";
}

<div class="error-page">
    <h1>Oops! Something went wrong</h1>
    <p>We're sorry, but an error occurred while processing your request.</p>
    <a asp-controller="Home" asp-action="Index" class="btn">Return to Home</a>
</div>
